
		<link rel="stylesheet" href="../../../assets/css/about.css" />
		<link rel="stylesheet" href="../../../assets/css/reset.css"> <!-- CSS reset -->
		<link rel="stylesheet" href="../../../assets/css/style.css"> <!-- Resource style -->
		<link rel="stylesheet" href="../../../assets/css/sweetalert.css">
    <link rel="stylesheet" href="../../assets/css/normalize.css">
    <link rel="stylesheet" href="../../assets/css/main2.css">

		<!-- <script src="../../../assets/js/modernizr.js"></script>
    	<script src="../../../assets/js/jquery.min.js"></script> -->
			<script src="../../../assets/js/main.js"></script>


      <div class="demo" ng-hide = "show">
        <div id="demo-content">

          <div id="loader-wrapper">
            <div id="loader"></div>

            <div class="loader-section section-left"></div>
                  <div class="loader-section section-right"></div>

          </div>

        </div>
    </div>
      <div ng-show = "show">


      <nav class="cd-stretchy-nav">
            <a class="cd-nav-trigger" href="#0">
                <span aria-hidden="true"></span>
            </a>

            <ul>
              <li><a href="/" ng-click="console.log('Here')"class="active"><span>HomePage</span></a></li>
              <li ng-hide="logged"><a href="/register"><span>Sign Up</span></a></li>
              <li ng-hide="logged"><a href="/login"><span>Sign In</span></a></li>
              <li ng-show="logged"><a href="/" ng-click="main.logout()"><span>Sign Out</span></a></li>
              <li ng-show="logged"><a href="javascript:void(0)" ng-click="goToProfile()"><span>My Profile</span></a></li>
               <li><a href="/videos"><span>Videos</span></a></li>
              <li><a href="/faqs"><span>FAQs</span></a></li>
                  <li><a href="/about"><span>About us</span></a></li>
              <li><a href="/contactUs"><span>Contact Us</span></a></li>

            </ul>

            <span aria-hidden="true" class="stretchy-nav-bg"></span>
        </nav>
	<div class="landing">
			<div id="page-wrapper">

					<section id="two" class="wrapper alt style2">
						<section class="spotlight">
							<div class="image"><img src="../../../images/shazly.jpg" alt="" /></div><div class="content">
								<h2>Omar Alshazly<br></br></h2>
								<p style="color:#21b2a6">Frontend</p>
							</div>
						</section>
				<section class="spotlight">
								<div class="image"><img src="../../../images/seif.jpg" alt="" /></div><div class="content">
									<h2>Seif Hussam<br></br></h2>
									<p style="color:#21b2a6">Frontend</p>
								</div>
							</section>
							<section class="spotlight">
								<div class="image"><img src="../../../images/bavly.jpg" alt="" /></div><div class="content">
									<h2>Bavly Emad<br></br></h2>
									<p style="color:#21b2a6">Backend/Frontend</p>
								</div>
							</section>
							<section class="spotlight">
									<div class="image"><img src="../../../images/barayez.jpg" alt="" /></div><div class="content">
										<h2>Michael Sherif<br></br></h2>
										<p style="color:#21b2a6">Backend</p>
									</div>
								</section>	<section class="spotlight">
										<div class="image"><img src="../../../images/sherif.jpg" alt="" /></div><div class="content">
											<h2>Mohamed Sherif <br></br></h2>
											<p style="color:#21b2a6">Backend</p>
										</div>
									</section>	<section class="spotlight">
											<div class="image"><img src="../../../images/fox.jpg" alt="" /></div><div class="content">
												<h2>Ahmed Fox<br></br></h2>
												<p style="color:#21b2a6">Backend</p>
											</div>
										</section>	<section class="spotlight">
												<div class="image"><img src="../../../images/youssefA.jpg" alt="" /></div><div class="content">
													<h2>Youssef Ayman<br></br></h2>
													<p style="color:#21b2a6">Backend</p>
												</div>
											</section>
						<section class="spotlight">
							<div class="image"><img src="../../../images/youssefI.jpg" alt="" /></div><div class="content">
								<h2>Youssef Ibrahim<br></br></h2>
								<p style="color:#21b2a6">Frontend</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="../../../images/sasa.jpg" alt="" /></div><div class="content">
								<h2>Sara Nagui<br></br></h2>
								<p style="color:#21b2a6">Frontend</p>
							</div>
						</section>
						<section class="spotlight">
							<div class="image"><img src="../../../images/nadeen.jpg" alt="" /></div><div class="content">
								<h2>Nadeen Ghali<br></br></h2>
								<p style="color:#21b2a6">Frontend</p>
							</div>
						</section>
					</section>





			</div>

	</div>
      </div>
