<link rel="stylesheet" href="../../../assets/css/chatWindowOwner.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
crossorigin="anonymous">
<script
src="https://code.jquery.com/jquery-3.1.1.js"
integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="
crossorigin="anonymous"></script>
  <script src="/socket.io/socket.io.js"></script>


<div class="container">
<div id = "messageArea">
<div class="chat_window" id="chat" >
<div class="top_menu">
<div class="buttons">
<a class="close" >&times;</a>
<!-- <a class="minimize" href="">&minus;</a> -->
</div>
<div class="title">CHAT</div>
</div>
<div class="online">
<h1 style="font-size:16.6px;font-family:sans-serif; font-weight:normal;color:#808080">ONLINE USERS
</h1>
</br>
<ul class="list-group" id = "users" >

</ul>
</div>
<ul class="messages" id = "messages">

  </ul>


<!--
<ul class="messages"></ul> -->
<form id="messageForm">
<div class="bottom_wrapper clearfix">
<div class="message_input_wrapper">
<input class="message_input" id="message" placeholder="Type your message here..." /></div>



<div class="send_message">
<div class="icon"></div>
<div class="text">
  <input style="border:none; float:right;" class="send_message" type="submit" value="SEND"/>
  </div>
</div>
</div>
</form>
</div>
<div class="message_template">
<li class="message">
<div class="avatar">
</div><div class="text_wrapper">
<div class="text">
</div>
</div>
</li>
</div>
</div>
</div>
<script>
$(function () {
  var socket = io.connect() ;
  var id ;
  var $messageForm = $('#messageForm');
    var $message = $('#message');
      var $chat = $('#messages1');
      var $userForm = $('#userForm');
      var $userFormArea = $('#userFormArea');
        var $messageArea = $('#messageArea');
        var $users = $('#users') ;
        var $username = $('#username') ;
       $messageForm.submit (function(e){
         e.preventDefault() ;
         var temp = {} ;
         temp.id = id ;
         temp.idFrom = id ;
         temp.message =  $message.val();
         console.log(temp);
        socket.emit('send message'  , temp) ;
        $message.val('');
       });
       socket.on('new message',function(data){
         var l = 45 ;
         if(data.msg.length > l ){
           for (var i = l; i < data.msg.length; i+=l) {
             data.msg= data.msg.substring(0,i) + '<br>'+data.msg.substring(i) ;
           }
         }
        // if (data.id ===id || data.idFrom === id )
         $chat.append('<li class="message left appeared"><div class="text_wrapper"><div class="text"><Strong>'+data.user+'</Strong> : '+data.msg+'</div></div></li>');
       });
       $userForm.submit (function(e){
         e.preventDefault() ;
        socket.emit('new user'  , $username.val(), function (data) {
          if (data) {
            id = data ;
            $userFormArea.hide() ;
            $messageArea.show() ;
          }

        }) ;
        $username.val('');
       });
       socket.on('get users' , function(data){
         var html = '' ;
         for (var i=0 ; i<data.length; i++){

           html += '<li><div class="OMG"><button>'+data[i].username+'</button></br></div></li>' ;
         }
         $users.html(html);
       });
});
</script>
