	<link rel="stylesheet" href="../../../assets/css/faqs.css" />
	<link rel="stylesheet" href="../../../assets/css/reset.css"> <!-- CSS reset -->

	<link rel="stylesheet" href="../../../assets/css/sweetalert.css">
<link rel="stylesheet" href="../../../assets/css/style.css"> <!-- Resource style -->
	<script src="../../../assets/js/modernizr.js"></script> <!-- Modernizr -->
    <script src="../../../assets/js/jquery.min.js"></script>

    <div class="demo" ng-hide = "show">
      <div id="demo-content">

        <div id="loader-wrapper">
          <div id="loader"></div>

          <div class="loader-section section-left"></div>
                <div class="loader-section section-right"></div>

        </div>

      </div>
    </div>

<div ng-show = "show">


    <nav class="cd-stretchy-nav">
          <a class="cd-nav-trigger" href="#0">
              <span aria-hidden="true"></span>
          </a>

          <ul>
            <li><a href="/" class="active"><span>HomePage</span></a></li>
            <li ng-hide="logged"><a href="/register"><span>Sign Up</span></a></li>
            <li ng-hide="logged"><a href="/login"><span>Sign In</span></a></li>
            <li ng-show="logged"><a href="/" ng-click="main.logout()"><span>Sign Out</span></a></li>
            <li ng-show="logged"><a href="javascript:void(0)" ng-click="goToProfile()"><span>My Profile</span></a></li>
             <li><a href="/videos"><span>Videos</span></a></li>
            <li><a href="/faqs"><span>FAQs</span></a></li>
                <li><a href="/about"><span>About us</span></a></li>
            <li><a href="/contactUs"><span>Contact Us</span></a></li>

          </ul>

          <span aria-hidden="true" class="stretchy-nav-bg"></span>
      </nav>
    <section style="background-color:rgba(6, 19, 14, 1);">

				<section class="spotlight" style=" font-size:22pt;text-align:center;">
					<div class="content" style=" font-size:22pt;text-align:right;">
							<h2>FAQs<br></br></h2>
					</div>
				</section>
    </section>
	<div class="landing">
		<div id="page-wrapper">
          	<section id="two" class="wrapper alt style2">
            	<section class="spotlight">
            		<div class="content">
                		<h2>What is FitHub?<br></br></h2>
                		<p style="color:#21b2a6">Fithub is a platform which combines all
											 fitness related enities to make your search for a healthier, fitter life easier.</p>
                		<br></br>
            		</div>
           		</section>
           		<section class="spotlight">
            		<div class="content">
                		<h2>Is signing up as a user free?<br></br></h2>
                		<p style="color:#21b2a6">Yes, it's completely free of charge!</p>
                		<br></br>
            		</div>
           		</section>
           		<section class="spotlight">
            		<div class="content">
									<h2>How do i purchase products online?<br></br></h2>
                		<p style="color:#21b2a6">You have the choice of either "Cash on delivery" or "My Wallet".</p>
                		<br></br>
            		</div>
           		</section>
           		<section class="spotlight">
            		<div class="content">
                		<h2>What is My Wallet?<br></br></h2>
                		<p style="color:#21b2a6">My wallet is a virtual alternative to a piggy bank, you can fill it by purchasing "My Wallet" cash using a credit card.</p>
                		<br></br>
            		</div>
           		</section>
           		<section class="spotlight">
            		<div class="content">
                		<h2>How do i chat with a business owner representative?<br></br></h2>
                		<p style="color:#21b2a6">Visit the owner's profile, expand the navigation menu on the left and choose "Chat".You must be signed in to do so.</p>
                		<br></br>
            		</div>
           		</section>
           		<section class="spotlight">
            		<div class="content">
                		<h2>As a business owner how do i become a part of this website?<br></br></h2>
                		<p style="color:#21b2a6">By simply contacting the admin then signing up and waiting for the adminstrators approval.</p>
                		<br></br>
            		</div>
           		</section>
           		<section class="spotlight">
            		<div class="content">
                		<h2>I forgot my password, how do i change it?<br></br></h2>
                		<p style="color:#21b2a6">Go to the sign in page, you should find "forgot password"
											 which will redirect you to another page which prompts you to fill necessary info,
											 then shortly after you'll recieve an email with more guide lines.</p>
                		<br></br>
            		</div>
           		 </section>
           		<!-- <section class="spotlight">
            		<div class="content">
                		<h2>Question?<br></br></h2>
                		<p style="color:#21b2a6">answer</p>
                		<br></br>
            		</div>
           		</section>
           		<section class="spotlight">
            		<div class="content">
                		<h2>Question?<br></br></h2>
                		<p style="color:#21b2a6">answer</p>
                		<br></br>
            		</div>
           		</section>  -->
       		</section>
    	</div>
    </div>
</div>

			</div>
			<script src="../../../assets/js/jquery-2.1.4.js"></script>
			<script src="../../../assets/js/jquery.min.js"></script>
			<script src="../../../assets/js/jquery.dropotron.min.js"></script>
			<script src="../../../assets/js/jquery.scrolly.min.js"></script>
			<script src="../../../assets/js/jquery.onvisible.min.js"></script>
			<script src="../../../assets/js/skel.min.js"></script>
			<script src="../../../assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../../../assets/js/main.js"></script>
