<link rel="stylesheet" href="../../../assets/css/sweetalert.css">

<link rel="stylesheet" href="../../../assets/css/reset.css">
<!-- CSS reset -->
<link rel="stylesheet" href="../../../assets/css/style.css">
<!-- Resource style -->
<link rel="stylesheet" type="text/css" href="../../../assets/css/login.css">
<div class="demo" ng-hide = "show">
  <div id="demo-content">

    <div id="loader-wrapper">
      <div id="loader"></div>

      <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>

    </div>

  </div>
</div>
<div class="login-wrap" ng-show = "show">
  <nav class="cd-stretchy-nav">
        <a class="cd-nav-trigger" href="#0">
            <span aria-hidden="true"></span>
        </a>

        <ul>
          <li><a href="/" class="active"><span>HomePage</span></a></li>
          <li ng-hide="logged"><a href="/register"><span>Sign Up</span></a></li>
          <li ng-hide="logged"><a href="/login"><span>Sign In</span></a></li>
          <li ng-show="logged"><a href="/" ng-click="main.logout()"><span>Sign Out</span></a></li>
          <li ng-show="logged"><a href="javascript:void(0)" ng-click="goToProfile()"><span>My Profile</span></a></li>
           <li><a href="/videos"><span>Videos</span></a></li>
          <li><a href="/faqs"><span>FAQs</span></a></li>
              <li><a href="/about"><span>About us</span></a></li>
          <li><a href="/contactUs"><span>Contact Us</span></a></li>

        </ul>

        <span aria-hidden="true" class="stretchy-nav-bg"></span>
    </nav>

    <form ng-submit="forgotPassword1 () ">
        <div class="login-html" style="height:100%">
            <div class="login-form">
                <label for="tab-1" class="tab">Forgot Password</label>
                <div class="forgot-user-htm">
                    <div class="group">
                        <label for="user" class="label">Email</label>
                        <input id="user" type="text" class="input" ng-model="forgotPassword.email" required>
                    </div>
                    <!-- <div>
                      <p style="font-size:2rem; text-align:center;">Please check your email, a link to reset your password has already been sent.
                      </p><br><p style="font-size:2rem; text-align:center;">If not , please press resend button below</p>
                    </div> -->
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <a href="/login">Remember Password?</a>
                    </div>
                    <br></br>
                    <div class="group">
                        <input type="submit" class="button" value="Send Email">
                    </div>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <a href="">Resend Email</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="../../../assets/js/jquery-2.1.4.js"></script>
<script src="../../../assets/js/jquery.min.js"></script>
<script src="../../../assets/js/jquery.dropotron.min.js"></script>
<script src="../../../assets/js/jquery.scrolly.min.js"></script>
<script src="../../../assets/js/jquery.onvisible.min.js"></script>
<script src="../../../assets/js/skel.min.js"></script>
<script src="../../../assets/js/util.js"></script>
<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
<script src="../../../assets/js/main.js"></script>
