
   <link rel="stylesheet" href="../../../assets/css/notFound.css">
   <link rel="stylesheet" href="../../assets/css/main2.css">

       <div class="demo" ng-show = "!show">
         <div id="demo-content">

           <div id="loader-wrapper">
             <div id="loader"></div>

             <div class="loader-section section-left"></div>
                   <div class="loader-section section-right"></div>

           </div>

         </div>
     </div>

<div ng-show = "show" style="height: 100%">


   <main id="main-404-content" class="main-content-particle-js">

   	<div class="content-wrap">

		   <div class="shadow-overlay"></div>

		   <div class="main-content">
		   	<div class="row">
		   		<div class="col-twelve">

			  			<h1 class="kern-this">404 Error.</h1>
			  			<p>
						Oooooops! Looks like nothing was found at this location.
			  			We are sorry for the inconvenience.
			  			Click the button below to go back to the homepage.
			  			</p>

			  			<div class="search">
				      	<form>
								<button class="btn btn-success"><a href="/" >Go To Homepage</a></button>
							</form>
				      </div>

			   	</div> <!-- /twelve -->
		   	</div> <!-- /row -->
		   </div> <!-- /main-content -->

		</div> <!-- /content-wrap -->

   </main> <!-- /main-404-content -->

   <div id="preloader">
    	<div id="loader"></div>
   </div>
</div>

   <!-- Java Script
   ================================================== -->
   <script src="../../../assets/js/plugins.js"></script>
   <script src="../../../assets/js/notFound.js"></script>
