<link rel="stylesheet" href="../../../assets/css/sweetalert.css">

		<link rel="stylesheet" href="../../../assets/css/gymsum.css" />
		<link rel="stylesheet" href="../../../assets/css/reset.css"> <!-- CSS reset -->
		<link rel="stylesheet" href="../../../assets/css/style.css"> <!-- Resource style -->
		<script src="../../../assets/js/modernizr.js"></script> <!-- Modernizr -->
    	<script src="../../../assets/js/jquery.min.js"></script>
      <div class="demo" ng-hide = "show">
        <div id="demo-content">

          <div id="loader-wrapper">
            <div id="loader"></div>

            <div class="loader-section section-left"></div>
                  <div class="loader-section section-right"></div>

          </div>

        </div>
    </div>
	<div class="landing" ng-show="show">
			<div id="page-wrapper">
					<section id="two" class="wrapper alt style2">
            <a class="btn btn-block btn-success" style="width: 10%; line-height: 400%; margin-left: 50%"  href="/GymHomepage">Go Back</a>
						<section class="spotlight" style="margin-bottom:1px;">
              <div class="image" style="width: 20%;"><img src="../../../images/ownerPic.jpg" alt="" /></div><div class="content">
                  <h2>Client Name<br></br></h2>
                  <button class="btn-success">Visit Profile</button>
                  <br></br>
							</div>
						</section>
                      <section class="spotlight" style="margin-bottom:1px;">
              <div class="image" style="width: 20%;"><img src="../../../images/ownerPic.jpg" alt="" /></div><div class="content">
                  <h2>Client Name<br></br></h2>
                  <button class="btn-success">Visit Profile</button>
                  <br></br>
              </div>
            </section>
            <section class="spotlight" style="margin-bottom:1px;">
              <div class="image" style="width: 20%;"> <img src="../../../images/ownerPic.jpg" alt="" /></div><div class="content">
                  <h2>Client Name<br></br></h2>
                  <button class="btn-success">Visit Profile</button>
                  <br></br>
              </div>
            </section>
            <section class="spotlight" style="margin-bottom:1px;">
              <div class="image" style="width: 20%;"><img src="../../../images/ownerPic.jpg" alt="" /></div><div class="content">
                  <h2>Client Name<br></br></h2>
                  <button class="btn-success">Visit Profile</button>
                  <br></br>
              </div>
            </section>
            <section class="spotlight" style="margin-bottom:1px;">
              <div class="image" style="width: 20%;"><img src="../../../images/ownerPic.jpg" alt="" /></div><div class="content">
                  <h2>Client Name<br></br></h2>
                  <button class="btn-success">Visit Profile</button>
                  <br></br>
							</div>
						</section>
            <section class="spotlight" style="margin-bottom:1px;">
              <div class="image" style="width: 20%;"><img src="../../../images/ownerPic.jpg" alt="" /></div><div class="content">
                  <h2>Client Name<br></br></h2>
                  <button class="btn-success">Visit Profile</button>
                  <br></br>
							</div>
						</section>
            <section class="spotlight" style="margin-bottom:1px;">
              <div class="image" style="width: 20%;"><img src="../../../images/ownerPic.jpg" alt="" /></div><div class="content">
                  <h2>Client Name<br></br></h2>
                  <button class="btn-success">Visit Profile</button>
                  <br></br>
              </div>
            </section>
            <section class="spotlight" style="margin-bottom:1px;">
              <div class="image" style="width: 20%;"><img src="../../../images/ownerPic.jpg" alt="" /></div><div class="content">
                  <h2>Client Name<br></br></h2>
                  <button class="btn-success">Visit Profile</button>
                  <br></br>
              </div>
            </section>
            <section class="spotlight" style="margin-bottom:1px;">
              <div class="image" style="width: 20%;"><img src="../../../images/ownerPic.jpg" alt="" /></div><div class="content">
                  <h2>Client Name<br></br></h2>
                  <button class="btn-success">Visit Profile</button>
                  <br></br>
              </div>
            </section>
            <section class="spotlight" style="margin-bottom:1px;">
              <div class="image" style="width: 20%;"><img src="../../../images/ownerPic.jpg" alt="" style="width: 100%"/></div><div class="content">
                  <h2>Client Name<br></br></h2>
                  <button class="btn-success">Visit Profile</button>
                  <br></br>
							</div>
						</section>
					</section>





			</div>

	</div>
			<script src="../../../assets/js/jquery-2.1.4.js"></script>
			<script src="../../../assets/js/jquery.min.js"></script>
			<script src="../../../assets/js/jquery.dropotron.min.js"></script>
			<script src="../../../assets/js/jquery.scrolly.min.js"></script>
			<script src="../../../assets/js/jquery.onvisible.min.js"></script>
			<script src="../../../assets/js/skel.min.js"></script>
			<script src="../../../assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="../../../assets/js/main.js"></script>
