<link href="../../../assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="../../../assets/css/profile.css" />
<link rel="stylesheet" href="../../../assets/css/bootstrap.css" />
<link rel="stylesheet" href="../../../assets/css/sweetalert.css">
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700' rel='stylesheet' type='text/css'>
<script src="../../../assets/js/progress.js"></script>

<link rel="stylesheet" href="../../../assets/css/profile.css" />
<div class="container">
    <div style="background: #06130E;" class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" style="margin-top:300px;">
            <div class="panel panel-info" style="margin-bottom:300px;">
                <div class="panel-heading">
                    <h3 style="margin-top:5px" class="panel-title">Pay Now</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td style="line-height:40px;">Name</td>
                                        <td style="line-height:40px;"><textarea style="font-size: 1.25rem; float:right; width:250px; height:50px;"></textarea></td>
                                    </tr>
                                    <tr>

                                        <td style="line-height:40px;">Phone</td>
                                        <td style="line-height:40px;"><textarea style="font-size: 1.25rem; float:right; width:250px; height:50px;"></textarea></td>
                                    </tr>
                                    <tr>
                                        <td style="line-height:40px;">Card</td>
                                        <td style="line-height:40px;"><textarea style="font-size: 1.25rem; float:right; width:250px; height:50px;"></textarea></td>
                                    </tr>
                                    <tr>
                                        <td style="line-height:40px;">CVC</td>
                                        <td style="line-height:40px;"><textarea style="font-size: 1.25rem; float:right; width:250px; height:50px;"></textarea></td>
                                    </tr>
                                    <tr>
                                        <td style="line-height:40px;">Expiry Date</td>
                                        <td style="line-height:40px;"><textarea style="font-size: 1.25rem; float:right; width:250px; height:50px;"></textarea></td>
                                    </tr>
                                </tbody>
                            </table>
                            <a href="/editUserProfile" class="btn btn-primary" style="border-radius:20px; padding: 10px 30px; margin-left: 75%;">Proceed</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
